:root {
    font-size: 16px;
    overflow-x: auto;
}

.contact-form {
    display: flex;
    background-color: #ffffff;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: visible;
}

.contact-form div {
    padding: 1.25rem;
}

.contact-form .first, .contact-form .fourth {
    width: 5%;
}

.contact-form .middle {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.middle .second, .middle .third {
    width: 45%;
    margin-bottom: 1.25rem;
}

.second {
    background-color: #3b4636;
    color: white;
    padding: 1.875rem;
    border-radius: 0.5rem;
}

.contact-info h2 {
    font-size: 1.375rem;
    font-weight: bold;
    margin-bottom: 0.625rem;
}

.contact-details {
    margin-top: 0.625rem;
    font-size: 1rem;
    line-height: 1.6;
}

.contact-item {
    display: flex;
    align-items: center;
}

.contact-item i {
    padding: 10px;
    border: 1px solid white;
}

.contact-item p {
    margin: 0.5rem;
    font-size: 1rem;
}

.contact-details a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.third {
    background: #f8f9fa;
    padding: 1.875rem;
    border-radius: 0 0.625rem 0.625rem 0;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    color: #333;
    margin-bottom: 0.625rem;
}

.form-container input,
.form-container textarea {
    width: 100%;
    margin-bottom: 0.625rem;
    padding: 0.625rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
}

.form-container button {
    padding: 0.625rem 1.25rem;
    background: #3b4636;
    color: white;
    border: none;
    cursor: pointer;
    width: 30%;
}

.form-container button:hover {
    background: #327d92;
}

@media (max-width: 768px) {
    .contact-form {
        padding: 0.5rem;
    }

    .contact-form .first, .contact-form .fourth {
        display: none;
    }

    .contact-form .middle {
        width: 100%;
        flex-direction: column;
    }

    .middle .second, .middle .third {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 1.25rem;
    }

    .second {
        background-color: #3b4636;
        padding: 1rem;
    }

    .third {
        background: #f8f9fa;
        padding: 1.25rem;
    }
    .contact-form div {
        padding: 0.3rem;
    }
    .form-container input,
.form-container textarea {
    width: 90%;
    margin-bottom: 0.625rem;
    padding: 0.5rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
}
}