<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
    <footer class="footer_outer" id="footer_outer_01x">
        <div class="footer_logo_outer">
            <img src="../assets/images/IQ_logo-transformed-whitebg.png" alt="IQ Medical Systems Logo">
        </div>
        <div class="footer_text_outer">
            <p id="footer_description">IQ Medical Systems is an ISO 13485 certified organization. We value the highest production standards, uncompromising quality of materials and component parts with attractive design. We are a globally oriented enterprise aiming at satisfaction of the customer's need all over the world.</p>
        </div>
        <div class="footer_links_outer">
            <a href="../pages/aboutUs.html" id="footer_about_us">About Us</a> | 
            <a href="../pages/contactUs.html" id="footer_contact_us">Contact Us</a> |
            <a href="../pages/products.html" id="footer_products">Products</a> | 
            <a href="../pages/thermalmanagement.html" id="footer_thermal_management">Thermal Management</a> | 
            <a href="../pages/jaundicemanagement.html" id="footer_jaundice_management">Jaundice Management</a>
        </div>
        <span id="footer_iso_certification" style="margin-top: 20px; color:white">An ISO Certified Company</span>
        <div class="iso_logo_outer">
            <img src="../assets/images/iso.png" alt="ISO Certified Logo">
        </div>
        <hr class="footer_hr">
        <div class="footer_bottom_outer">
            <div class="footer_left">
                <p id="footer_copyright">Copyright © 2025 IQ Medical Systems. All Rights Reserved.</p>
            </div>
            <div class="footer_right">
                <p id="footer_designed_by">
                    Designed by <a href="../pages/contact_Roopsai.html" id="footer_name" style="color: #D4AF37; text-decoration: none;">Roopsai</a>
                </p>
                
            </div>
        </div>
    </footer>
    <script src="../js/javascript.js"></script>
</body>
</html>
