<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="../css/common.css">
</head>

<body>
    <header class="header_menu_outer" id="header_01x">
        <div class="logo_header_menu_outer">
            <img src="../assets/images/IQ_logo-transformed-removebg.png" alt="IQ Logo">
        </div>
        <div class="nav_header_menu_outer">
            <nav class="nav">
                <ul class="nav-list">
                    <li><a href="../index.html" id="nav_home" class="active">Home</a></li>
                    <li><a href="../pages/aboutUs.html" id="nav_about_us">About Us</a></li>
                    <li><a href="../pages/products.html" id="nav_products">Products</a>
                        <ul class="dropdown-menu">
                            <li><a href="../pages/thermalmanagement.html" id="dropdown_thermal">Thermal Management</a></li>
                            <li><a href="../pages/jaundicemanagement.html" id="dropdown_jaundice">Jaundice Management</a></li>
                            <li><a href="../pages/noninvasiveventilationsystem.html" id="dropdown_ventilation">Baby Bassinet</a></li>
                            <li><a href="../pages/others.html" id="dropdown_ventilation">Others</a></li>
                        </ul>
                    </li>
                    <li><a href="../pages/contactUs.html" id="nav_contact_us">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <header class="header_menu_outer_blue" id="header_01x">
        <div class="logo_header_menu_outer">
            <img src="../assets/images/IQ_logo-transformed-whitebg.png" alt="IQ Logo">
        </div>
        <div class="nav_header_menu_outer">
            <nav class="nav">
                <ul class="nav-list">
                    <li><a href="../index.html" id="nav_home" class="active" style="color: white;">Home</a></li>
                    <li><a href="../pages/aboutUs.html" id="nav_about_us" style="color: white;">About Us</a></li>
                    <li><a href="../pages/products.html" id="nav_products" style="color: white;">Products</a>
                        <ul class="dropdown-menu">
                            <li><a href="../pages/thermalmanagement.html" id="dropdown_thermal" style="color: rgb(18, 18, 116);">Thermal Management</a></li>
                            <li><a href="../pages/jaundicemanagement.html" id="dropdown_jaundice" style="color: rgb(18, 18, 116);">Jaundice Management</a></li>
                            <li><a href="../pages/noninvasiveventilationsystem.html" id="dropdown_ventilation" style="color: rgb(18, 18, 116);">Baby Bassinet</a></li>
                            <li><a href="../pages/others.html" id="dropdown_ventilation" style="color: rgb(18, 18, 116);">Others</a></li>
                        </ul>
                    </li>
                    <li><a href="../pages/contactUs.html" id="nav_contact_us" style="color: white;">Contact Us</a></li>
                    
                    </li>
                </ul>
            </nav>
        </div>
    </header>    

</body>
<script src="../js/javascript.js"></script>
</html>
